<template>
  <div class="card d-flex " style="width: 18rem;">

    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="user in simpleUsers" :key="user.id"> <h2 class="card-title">Список клієнтів</h2> <br>
        Ім'я: {{ user.firstName }} <br>
        Прізвище: {{ user.lastName }} <br>
        Email: {{ user.email }} <br>
        Cайт: {{ user.website }} <br>
      </li>
    </ul>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  },
  data: () => ({
    users: []
  }),
  computed: {
    simpleUsers() {
      return this.users.map(user => ({
        firstName: user.name.slice(0, user.name.indexOf(' ')),
        lastName: user.name.slice(user.name.indexOf(' ')),
        email: user.email,
        website: user.website,
      }))
    },
  },

  beforeMount() {

    const users = JSON.parse(localStorage.getItem('users')) ?? []
    if (!users.length) {
      this.getUsers();
    }
    else {
      this.users = users
    }
  },

  methods: {
    getUsers() {
      fetch('https://jsonplaceholder.typicode.com/users?_limit=10')
          .then(res => res.json())
          .then(users => {
            this.users = users;

            localStorage.setItem('users', JSON.stringify(users))
          })
    }
  }
}
</script>

<style>

</style>
